<div class="container-fluid contenedor">

    <div class="flex-column">

        <div class="card-text .col-sm-8 .col-md-8 .col-lg-8 .col-xl-8" style="width: 18rem;">
            <div class="card-body">

                <h5 class="card-title">Nom. Usuario</h5>

                <div class="input-group">
                    <textarea class="form-control"></textarea>
                </div>

                <a href="#" class="btn btn-primary">POSTEAR</a>

            </div>
        </div>

        <div class="card" style="max-width: 18rem;">
            <div class="card-header">Nombre usuario</div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>

    </div>
</div>